{% include 'teams/base_bootstrap.html' %}

{% load static %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">

<style>
	
	@import url('https://fonts.cdnfonts.com/css/fast-hand');
    @import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
   
	/*footer styling */
	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(1, 2, 3, 0.7);
		backdrop-filter: blur(5px);
		height: auto;
		width: 100vw;
		font-family: "Open Sans";
		padding-top: 15px;
		color: #fff;
	}
	
	.footer-content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	.footer-content h3 {
		text-shadow: 0 0 4px #ff0000;
		font-size: 1.5rem;

		font-weight: 400;
		text-transform: capitalize;
		line-height: 1rem;
	}
	.footer-content p {
		text-shadow: 0 0 4px #ff0000;
		max-width: 500px;
		margin: 1px auto;

		font-size: 1.5rem;
	}
	.socials{
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem 0 1rem 0;
	}
	.socials li{
		margin: 0 10px;
	}
	.socials a{
		text-decoration: none;
		color: #fff;
	}
	.socials a i{
		font-size: 2rem;
		transition: color .4s ease;
		margin-left: 1vw;
		margin-right: 1vw;

	}
	.socials a:hover i{
		color: white;
	}
	.card{
		border-radius: 8px;
		border-bottom: solid 2px rgb(212,76,18);
		box-shadow: 0px 1px 3px 2px #ff009d;
		backdrop-filter: blur(5px);
		max-height:60vh;
		overflow-y:scroll;
		
	}
	.card-body{
		padding : 5px;
	}



	@media (max-width: 600px) {
		.footer-content p {
			font-size: 1.2rem;
		}
	}

	@media (max-width: 800px) {
	    .footer-content p {
		    font-size: 1.3rem;
	    }
	}
	

</style>
<div class="card text-center" style="background: rgba(1, 2, 3,0.6); padding: 30px 30px ;">
  <div class="card-header" >
  <div class="card-body" style="color: #fff;">

	<h1 style="color: #ff009d; font-family: 'fast hand', sans-serif !important; letter-spacing:5px; font-size:35px;" class=" leaderboard">LEVELS STATUS</h1>
	<br>
	<div class="row">
            {% for item in leveldetail %}
            <span style="margin : 10px; padding : 5px; border : solid white 1px;">
                <span style="color:  #FF009d;">{{ item.level }} </span>
                <span> -> {{ item.num }}</span>
                 
            </span>
            {% endfor %}
        </div>

	<br/>
    <h1 style="color: #ff009d; font-family: 'fast hand', sans-serif !important; letter-spacing:5px; font-size:35px;" class=" leaderboard">DETAILED LEADERBOARD</h1>
    <br>
   

        <h3 style="color: white; font-family: 'Orbitron', sans-serif;">The detailed leaderboard is currently locked and will be updated later.</h3>

    

  </div>
</div>
</div>

<div style="height: 100px;"></div>

<footer >
	<div class="footer-content">
		<p style="
		text-shadow: none;
		font-family: 'Orbitron', sans-serif;
		letter-spacing: 2px;
		margin-top:5px;
	">Developed by: Team Aavishkar</p>
	</div>
	<div class="socials">
	  <li>
		  
		<a href="https://www.facebook.com/arhn.nitd" target="blank">
			<i
				style="height: 30px; width: auto; border: none"
				class="fab fa-facebook-square"
			></i
		></a>

		
		

		<a href="https://www.instagram.com/arhn.nitd/" target="blank">
			<i
				style="height: 35px; width: auto; border: none; "
				class="fab fa-instagram"
			></i
		></a>

		{% comment %} <a href="https://www.recursionnitd.in/" target="blank"
			><img
				style="height: 30px; width: auto; border: none;margin:0px 2.3px;"
				src="{% static 'teams/images/REC_logo.png' %}"
		/></a> {% endcomment %}

		

		<a
				href="https://www.linkedin.com/company/aarohan-nit-durgapur/"
				target="blank"
			>
			<i
				style="height: 35px; width: auto; border: none"
				class="fab fa-linkedin"
			></i
		></a>

	  </li>
	</div>

</footer>


<script>
	var countDownDate = new Date({{ start_time|date:"U" }} * 1000);  
	var now = new Date({{ cur_time|date:"U" }} * 1000);
	var increment = 1000;
	
	var distance = countDownDate - now;
	var days = 0;
	var hours = 0;
	var minutes = 0;
	var seconds = 0;

	var x = setInterval(function() {
	
	  days = Math.floor(distance / (1000 * 60 * 60 * 24));
	  hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	  minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	  seconds = Math.floor((distance % (1000 * 60)) / 1000);
	
	  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
	  + minutes + "m " + seconds + "s ";
	
	  if (distance < 0) {
		clearInterval(x);
		document.getElementById("timer").innerHTML = '<a style="text-decoration: none; color:white" href="{% url "teams:get-level" %}"> REChase is LIVE now !!</a>';
		location.reload();
	  }

	  distance-=1000;

	//   console.log(distance,seconds)

	}, 1000);
	</script>
{% endblock %}