{% extends "teams/base_bootstrap.html" %}

{% load static %}
{% block content %}



<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/d43543296f.js" crossorigin="anonymous"></script>



<style>
  

  @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
  @import url('https://fonts.cdnfonts.com/css/fast-hand');
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
    a:link {
      color: green;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: rgb(252, 0, 42);
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
    }
    a:active {
      color: rgb(0, 255, 85);
      background-color: transparent;
      text-decoration: underline;
    }

    /*footer styling */
		footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(1, 2, 3, 0.7);
		  backdrop-filter: blur(5px);
      height: auto;
      width: 100vw;
      font-family: "Open Sans";
      padding-top: 15px;
      color: #fff;
    }
    .footer-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .footer-content h3 {
      text-shadow: 0 0 4px #ffff00;
      font-size: 1.5rem;
  
      font-weight: 400;
      text-transform: capitalize;
      line-height: 1rem;
    }
    .footer-content p {
      text-shadow: 0 0 4px #ff0000;
      max-width: 500px;
      margin: 1px auto;
  
      font-size: 1.5rem;
    }
	.socials{
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem 0 1rem 0;
	}
	.socials li{
		margin: 0 10px;
	}
	.socials a{
		text-decoration: none;
		color: #fff;
	}
	.socials a i{
		font-size: 2rem;
		transition: color .4s ease;
		margin-left: 1vw;
		margin-right: 1vw;

	}
	.socials a:hover i{
		color: white;
	}


  .join_grp_img{
    border: none;
    width: 100%;
  }

  .qr_container{
    padding: 1em;
    color: white;
    background: transparent;
    text-decoration: none;
    font-weight: 800;
    border-radius: 10px;
    font-size: 1.2em;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin-left: 5rem;
  }

  .join_heading{
    font-size: 3rem;
    color:#E97957;
  }

  .join_container{
    margin-top: 3rem;
  }

  .join_container a:hover{
    
      border: solid 1px #E97957;
      box-shadow: 0 0 5px #E97957, 0 0 25px #E97957;
      border-radius: 9px;
  
  }



  @media (max-width: 800px) {
    .footer-content p {
      font-size: 1.3rem;
    }

    .qr_container{
      width: 35%;
    }
}


  @media (max-width: 600px) {
		.footer-content p {
			font-size: 1.2rem;
		}

    .join_container{
      flex-direction: column;
    }
  
    .qr_container{
      width: 43%;
      margin-left: 0;
      margin-top: 2rem;
    }

    .join_heading{
      font-size: 2.5rem;

    }

	}

	
    </style>

<style> 

input[type=submit] {
      background: -webkit-gradient(linear,left bottom, left top,from(#000000),to(#262626));
      background: -webkit-linear-gradient(bottom,#000000,#262626);
      background: -moz-linear-gradient(bottom,#000000,#262626);
      background: -o-linear-gradient(bottom,#000000,#262626);
      background: linear-gradient(0deg,#000000,#262626);
      backdrop-filter: blur(10px);
      padding: 5px 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .4);
    }
    </style>

<div class="card text-center" style="background: rgba(1, 2, 3,0.4); padding: 30px 30px ;">
    <div class="card-header" >
        <h1 style="color: white; font-family: 'Fast Hand', sans-serif;" class="text-center">{{team.name}}</h1>

        {% if wait %}

        <div>

			<p class="card-text" style="color: white; letter-spacing: 2px; font-family: 'Orbitron', sans-serif;padding-left: 10px;padding-right: 10px;visibility: visible;" id="timer">
			</p>

      <div style="color: white; letter-spacing: 2px; font-family: 'Orbitron', sans-serif; padding-left: 10px;padding-right: 10px;visibility: visible;">
        <h1 class="join_heading">Join the official Whatsapp group of REChase</h1>

        <div class="join_container" style="display: flex;justify-content: center;align-items: center;flex-wrap: wrap;">

         

          <a style="padding:1em;color: white;background: transparent;text-decoration: none;font-weight: 800;border-radius: 10px;font-size: 1.2em;border: 1px solid white;display: flex;align-items: center;justify-content: center;" href="https://chat.whatsapp.com/BuO9Cc5jK2A6urv8nutEIO" target="_blank">

            Click to Join 
            <i class="fa-brands fa-whatsapp fa-2x" style="margin-left: 0.4em;"></i>
          
          </a>
          


          <div class="qr_container">
            <span>Scan to Join</span>
            
            <img class="join_grp_img" src="{% static 'teams/images/whatsapp_QR2.jpg' %}" alt="QR"> 

          </div> 

        </div>


      </div>

      </div>

        
		{% elif finish %}
			<p class="card-text" style="color: white; letter-spacing: 2px; font-family: 'Orbitron', sans-serif; padding-left: 10px;padding-right: 10px;visibility: visible;">
				REChase Completed <a style="text-decoration: none; color:white" href="{% url 'teams:scoreboard' %}">!! Visit Leaderboard  !!</a>
			</p>
		{% elif started %}
            {% if team.member_count >= 3 %}
                <p class="card-text" style="color: white; letter-spacing: 2px; font-family: 'Audiowide', sans-serif; padding-left: 10px;padding-right: 10px;visibility: visible;">
                    <a style="padding:6px; color: white; background:#E97957; text-decoration: none; font-weight: 800; border-radius: 10px;" href="{% url 'teams:get-level' %}">Start Hunt</a>
                </p> 
            {% else %}
                <p class="card-text" style="color: #ffaa55; letter-spacing: 1px; font-family: 'Audiowide', sans-serif; padding-left: 10px;padding-right: 10px;visibility: visible;">
                    Team is incomplete
                </p>
            {% endif %}
		{% endif %}

    {% if teammate_form %}
        <h2 style="color: white; font-family: 'Audiowide', sans-serif;" class="text-center">Add a Teammate</h2>
        <form method="post" action="{% url 'teams:add-teammate' %}" style="margin: 0 auto; width: 300px; display: flex; flex-direction: column; align-items: center; color: white; font-family: 'Orbitron', sans-serif;">
            {% csrf_token %}
            {{ teammate_form.as_p }}
            <input style="background:#E97957; color:white;font-family: 'Orbitron', sans-serif;" type="submit" value="Add Teammate">
        </form>
    {% endif %}


        <!-- <h2 style="color: white;" class="text-center"><a style="padding:6px; color: white; background:rgb(150, 3, 3); text-decoration: none; font-weight: 800; border-radius: 10px;" href="{% url 'teams:home' %}">Play</a></h2> -->
        <br>
        <div  class="row" >
            <div class="col-lg-6 mar" style="margin-bottom: 10px;">
                <h2 style="color: white; font-family: 'Audiowide', sans-serif;" class="text-center">Team Details</h2>
                <h3 style="color: white; font-family: 'Audiowide', sans-serif;" class="text-center">Size: {{team.member_count}} / 5</h3>
            </div>
            <div class="col-lg-6 mar" style="margin-bottom: 10px;">
                <h2 style="color: white; font-family: 'Audiowide', sans-serif;" class="text-center">Team Members</h2>
                <h3 style="color: white;font-family: 'Audiowide', sans-serif;" class="text-center">1. {{profile.name}} (Leader)</h3>
                {% for teammate in teammates %}
                    <h3 style="color: white;font-family: 'Audiowide', sans-serif;" class="text-center">{{forloop.counter|add:1}}. {{teammate.name}} ({{teammate.roll_no}})</h3>
                {% endfor %}
            </div>
            </div>
        <br>

       {# <a style="color: white;" class="text-center" href="{% url 'teams:leaveTeam' %}">Leave team.</a>#}
        
  </div>
  </div>
  <div style="height: 100px;"></div>
  <footer >
    <div class="footer-content">
      <p style="
      text-shadow: none;
      font-family: 'Orbitron', sans-serif;
      letter-spacing: 2px;
      margin-top:5px;
    ">Developed by: RECursion (Team Aavishkar)</p>
    </div>
    <div class="socials">
      <li>
        <a href="https://www.facebook.com/arhn.nitd" target="blank">
          <i
            style="height: 30px; width: auto; border: none"
            class="fab fa-facebook-square"
          ></i
        ></a>
  
        
        
  
        <a href="https://www.instagram.com/arhn.nitd/" target="blank">
          <i
            style="height: 35px; width: auto; border: none"
            class="fab fa-instagram"
          ></i
        ></a>
  
        {% comment %} <a href="https://www.recursionnitd.in/" target="blank"
          ><img
            style="height: 30px; width: auto; border: none;margin:0px 2.3px;"
            src="{% static 'teams/images/REC_logo.png' %}"
        /></a> {% endcomment %}
  
        
  
        <a
				href="https://www.linkedin.com/company/aarohan-nit-durgapur/"
				target="blank"
			>
          <i
            style="height: 35px; width: auto; border: none"
            class="fab fa-linkedin"
          ></i
        ></a>
  
      </li>
    </div>
  
  </footer>

  <script>
	var countDownDate = new Date({{ start_time|date:"U" }} * 1000);  
	var now = new Date({{ cur_time|date:"U" }} * 1000);
	var increment = 1000;
	
	var distance = countDownDate - now;
	var days = 0;
	var hours = 0;
	var minutes = 0;
	var seconds = 0;

	var x = setInterval(function() {
	
	  days = Math.floor(distance / (1000 * 60 * 60 * 24));
	  hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	  minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	  seconds = Math.floor((distance % (1000 * 60)) / 1000);
	
	  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
	  + minutes + "m " + seconds + "s ";
	
	  if (distance < 0) {
		clearInterval(x);
		document.getElementById("timer").innerHTML = '<a style="text-decoration: none; color:white"> REChase is LIVE now !!</a>';
	  }


	  distance-=1000;

	//   console.log(distance,seconds)

	}, 1000);
	</script>
{% endblock %}